@model CarShop.Models.ViewModel.ProductViewModel
@using CarShop.Extensions
@{
    ViewData["Title"] = "Create";
}
    <div class="container-fluid-0 m-5" style="padding-top:50px;">
        <h2 class="text-info">Create Product</h2>
        @*Enctype là một loại mã hóa cho phép các tệp được gửi qua POST*@
        <form method="post" enctype="multipart/form-data">
            <div class="p-4 border rounded">
                @*Tuỳ chọn này hiển thị chỉ các lỗi liên quan đến validation mức Model.*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Product.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Product.Price" class="form-control" />
                    </div>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-2"
                <label asp-for="Product.Image"></label>
            </div>
                    <div class="col-5">
                        <input type="file" name="files" class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="ProductTypes"></label>
                    </div>
                    <div class="col-5">
                        <select asp-for="@Model.Product.ProductTypeID" asp-items="Model.ProductTypes.ToSelectListItems(Model.Product.ProductTypeID)" class="form-control"></select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="SpectialTags"></label>
                    </div>
                    <div class="col-5">
                        <select asp-for="@Model.Product.SpectialTagID" asp-items="Model.SpectialTags.ToSelectListItems(Model.Product.SpectialTagID)" class="form-control"></select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.ShadeColor"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Product.ShadeColor" class="form-control" />
                    </div>
                    <span asp-validation-for="Product.ShadeColor" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.Available"></label>
                    </div>
                    <div class="col-5">
                        <input type="checkbox" asp-for="Product.Available" />
                    </div>
                    <span asp-validation-for="Product.Available" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
       
        @section Scripts{
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }

        }
